/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

nav{
    background-color: #255EE9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container{
    display: flex;
    justify-content: center;
    background-color: #255EE9;
    margin-top: 10px;
    width: 80%;
    align-items: center;
}

.nav-item1{
    background-color:#255EE9; 
}

.nav-item2{
    background-color: #255EE9;
    flex-grow: 1;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: white;
}

.nav-item3{
    background-color: #255EE9;
}

button{
    background-color: white;
    border-radius: 15px;
    border: #255EE9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size:cover;                      
    background-repeat:no-repeat;
    justify-content: center;
    align-items: center;
    height: 550px;
    
}

.jumbotron{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}


h2{
 margin-top: 70px;
 font-size: 2.5rem;
 font-weight: 900;
}

p{
    align-self: flex-start;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-button1{
    background-color: white;
    padding: 10px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
}

.header-button2{
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 8px;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: white;
    padding: 50px;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #80808080;
    
}

.section-item1{
    /* DEBUG */
    width: 40%;
    border: 0px;
    margin: 0px;
    
}

.section-item2{
    /* DEBUG */
    width: 20%;
}

.section-item-reverse1{
        width: 40%;
        margin-left: 70px;

}

.section-item-reverse2{
    width: 20%;
    
}

.last-section{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    justify-content: center;
    align-content: center;
}

.big-section{
    width: 60%;
    align-self: flex-end;
    justify-self: center;
    text-align: center;

}

.quinta{
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.star{
    align-self: center;
    justify-self: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;              
    text-align: center;
    margin-bottom: 30px;
}

h3{
    margin-top: 20px;
    font-size: x-large;
}

#download-button{
    background-color: #255EE9;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
}
.foot-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(36, 34, 34);
    height: 600px;
}

#grande{
    background-color: aqua;
    width: 20%;
    border: 2px solid black;
    margin-top: 50px;
    height: 400px;
    margin-left: 100px;

}

.col{
    height: 400px;
    width: 10%;
    background-color: pink;
    border: 2px solid black;
    margin-top: 50px;
}

.col.ultima{
    margin-right: 100px;
}

.foot-buttons{
    margin-top: 3px;
    height: 100px;
    background-color: rgb(36, 34, 34);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.buttons-container{
    width: 60%;
    height: 60px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info-foot{
    background-color: pink;
    width: 50px;
    height: 20px;
    border: 1px solid black;
}